body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}
h1 {
    color: #2e86c1;
}
h2 {
    color: #148f77;
}
h3 {
    color: #6c3483 ;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
.section-title {
    margin-top: 40px;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 5px;
}
.contact-info, .skills, .education, .experience, .interests {
    margin-bottom: 30px;
}
.skills ul, .education ul, .experience ul, .interests ul {
    margin-left: 20px;
}